<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gold_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,201},{34,46}}</string>
                <key>offset</key>
                <string>{-14,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,15},{34,46}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>gold_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,197},{84,56}}</string>
                <key>offset</key>
                <string>{3,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,13},{84,56}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>gold_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{94,100}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{94,100}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>gold_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,102},{42,98}}</string>
                <key>offset</key>
                <string>{-28,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,20},{42,98}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>gold_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,102},{84,94}}</string>
                <key>offset</key>
                <string>{-11,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,29},{84,94}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>gold_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,1},{86,84}}</string>
                <key>offset</key>
                <string>{-9,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,37},{86,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>gold_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,201},{12,16}}</string>
                <key>offset</key>
                <string>{32,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,96},{12,16}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>gold_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,218},{10,12}}</string>
                <key>offset</key>
                <string>{34,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,101},{10,12}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>gold_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,248},{6,8}}</string>
                <key>offset</key>
                <string>{37,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,106},{6,8}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>gold_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{10,248},{2,6}}</string>
                <key>offset</key>
                <string>{39,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,109},{2,6}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_gold01.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:346588d1586210237e3b51764e4ec836$</string>
            <key>textureFileName</key>
            <string>wsparticle_gold01.png</string>
        </dict>
    </dict>
</plist>
