<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qbtfeather_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,30},{52,24}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{52,24}}</string>
                <key>sourceSize</key>
                <string>{70,50}</string>
            </dict>
            <key>qbtfeather_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,60},{40,24}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{40,24}}</string>
                <key>sourceSize</key>
                <string>{70,50}</string>
            </dict>
            <key>qbtfeather_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,88},{48,24}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{48,24}}</string>
                <key>sourceSize</key>
                <string>{70,50}</string>
            </dict>
            <key>qbtfeather_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,34},{50,24}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{50,24}}</string>
                <key>sourceSize</key>
                <string>{70,50}</string>
            </dict>
            <key>qbtfeather_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,26}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{60,26}}</string>
                <key>sourceSize</key>
                <string>{70,50}</string>
            </dict>
            <key>qbtfeather_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{24,34}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,12},{24,34}}</string>
                <key>sourceSize</key>
                <string>{70,50}</string>
            </dict>
            <key>qbtfeather_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,60},{26,30}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,12},{26,30}}</string>
                <key>sourceSize</key>
                <string>{70,50}</string>
            </dict>
            <key>qbtfeather_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,90},{38,32}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,11},{38,32}}</string>
                <key>sourceSize</key>
                <string>{70,50}</string>
            </dict>
            <key>qbtfeather_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{48,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{48,32}}</string>
                <key>sourceSize</key>
                <string>{70,50}</string>
            </dict>
            <key>qbtfeather_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{54,30}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{54,30}}</string>
                <key>sourceSize</key>
                <string>{70,50}</string>
            </dict>
            <key>qbtfeather_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,30},{52,24}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{52,24}}</string>
                <key>sourceSize</key>
                <string>{70,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_featherglow.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ec8121da869c4307adc015e6276490e$</string>
            <key>textureFileName</key>
            <string>wsparticle_featherglow.png</string>
        </dict>
    </dict>
</plist>
